<div class="container">
  <div class="user-details">
    <p> {{site.user_description}} </p>
    <h3> My Expertise </h3>
  </div>
  <div class="row user">
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-dot-net-plain-wordmark colored"></i>
    <i class="devicon-android-plain colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-ubuntu-plain colored"></i>
    <i class="devicon-mysql-plain colored"></i>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-jquery-plain colored"></i>
    <i class="devicon-tomcat-line-wordmark colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
  </div>
</div>
