<div class="container">
  <div class="user-details">
    <p> {{site.user_description}} </p>
    <h3> My Expertise </h3>
  </div>
  <div class="row user">
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-dot-net-plain-wordmark colored"></i>
    <i class="devicon-android-plain colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-ubuntu-plain colored"></i>
    <i class="devicon-apple-original colored"></i>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-jquery-plain colored"></i>
    <i class="devicon-tomcat-line-wordmark colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-mysql-plain colored"></i>
  </div>
</div>

<--! <div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-photoshop-line colored"></i>
      <--! <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <--! <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="four columns">
      <h4>Platforms</h4>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <--! <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
  </div>
</div> -->
